@font-face {
    font-family: 'TitleFont';
    src: url('./fonts/AlfaSlabOne-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'NavBarFont';
    src: url('./fonts/Kanit-Bold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'HomeFont';
    src: url('./fonts/EduNSWACTFoundation-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

p{
    margin: 0;
    padding: 0; 
}

html,body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
}

#navbar{
    background-color: #042F4B;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.title{
    color: #ED1250;
    font-family: 'TitleFont';
    font-size: 50px;
}

.buttons{
    display: flex;
    gap: 40px;
    align-items: center;
    color: white;
    font-size: 30px;
    font-family: 'NavBarFont';
}

.button:hover{
    cursor: pointer;
    color: #ED1250;
}

#content{
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('./welcomePage.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    flex: 1;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.restaurantName{
    color: white;
    font-size: 80px; 
    font-family: 'TitleFont';

}

.welcomeText{
    font-family: 'HomeFont';
    font-weight: 800;
    color: white;
    font-size: 80px;
}

/***************************************menu page***********************************/

.menu{
    background-color: #F9C5B0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));;

}

.itemInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.itemName{
    font-size: 20px;
    font-family: 'HomeFont';
    font-weight: bold;
    font-size: 30px;
}

.itemPrice{
    font-size: 25px;
    color: #ED1250;
    font-weight: bold;
}

.itemDescription{
    font-size: 25px;
}

.menuItem{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 20px;
}

